#visualizer {
  --volume: 0%;
  position: relative;
  width: 75%;
  height: 10%;
  background-color: #DDD;
  border: 1px solid black;
  border-radius: 30px;
}

#too-loud {
    font-size: 100px;
    color: white;
}

#visualizer::before {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   width: var(--volume);
   background-color: green;
   border-radius: 1000px;
   transition: width 100ms linear;
}

.user-panel {
    background-color: antiquewhite;
}